.outer{
    margin-top: 50px;
    margin-left: 700px;
    width: 428px;
    height: 730px;
    border-width: 3px;
    border-style: solid;
}
.screen{
    border-width: 2px;
    border-style: solid;
    width: 420px;
    height: 180px;
    border-bottom: dashed;
    font-size: 22px;
}
.btn{
    width: 100px;
    height: 104px;
    font-size: 400px;
}
.btn1{
    width: 100px;
    height: 208px;
    font-size: 40px;
}
.btn2{
    width: 200px;
    height: 104px;
    font-size: 40px;
}
body{
    background-color: black;
}